.title {
    padding: 20px 30px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, .2);
    width: 500px;
    margin: 30px auto 40px auto;
}

.information {
    text-align: center;
}

.text {
    color: #110c28;
    font-size: 22px;
}
